<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Solution for <%= title %></p>
   <p> <a href="http://localhost:3000/inventors"> Click to see List of Inventors</a>
    
    </p>
  </body>
</html>
